---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Getting Involved"
	description="Links on how to learn more & get involved"
	pubDate={new Date('July 05 2023')}
	heroImage="/image-by-ivan-bertolazzi.jpg"
>
	<h3>Links to learning resources</h3>
	<p>
		<a href="https://www.cancer.org/cancer/types/lymphoma.html" target="_blank">American Cancer Society</a>
		<br>
		<a href="https://lymphoma-action.org.uk/about-lymphoma/what-lymphoma" target="_blank">Lymphoma Action</a>  
	</p>
	
	<h3>Links to helping resources</h3>

	<p>
		<a href="#" target="_blank">Roberts Paypal</a>
	</p>
</Layout>
